[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    ^\s\.\.\.\s$
    def __repr__
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    raise NotImplementedError
    if __name__ == "__main__":
