[flake8]
max-line-length=127
extend-ignore=E203
application-import-names=mcstatus
ban-relative-imports=true
import-order-style=pycharm
exclude=.venv,.git,.cache,.tox
ignore=
    ANN002, # *args annotation
    ANN003, # **kwargs annotation
    ANN101, # self param annotation
    ANN102, # cls param annotation
    ANN204, # return type annotation for special methods
    B024,   # ABC class without any abstractmethods
per-file-ignores=tests/*:ANN
