[flake8]
max-line-length=127
extend-ignore=E203
ban-relative-imports=true
exclude=.venv,.git,.cache,.tox
ignore=
    # *args annotation
    ANN002,
    # **kwargs annotation
    ANN003,
    # self param annotation
    ANN101,
    # cls param annotation
    ANN102,
    # return type annotation for special methods
    ANN204,
    # ABC class without any abstractmethods
    B024,
per-file-ignores=test_*.py:ANN
