ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  autofix_prs: true
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  submodules: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml # For pyproject.toml
      - id: check-yaml # For workflows
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
        files: .pre-commit-config.yaml
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.5.1
    hooks:
      - id: python-check-blanket-noqa # Enforce noqa annotations (noqa: F401,W203)
      - id: python-use-type-annotations # Enforce type annotations instead of type comments
  - repo: local
    hooks:
      - id: black
        name: Black
        description: Auto-format the code with black
        entry: poetry run black
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: ruff
        name: Ruff
        description: Run ruff checks on the code
        entry: poetry run ruff check --force-exclude
        language: system
        types: [python]
        require_serial: true
        args: [--fix, --exit-non-zero-on-fix]
  - repo: local
    hooks:
      - id: isort
        name: ISort
        description: Sort imports with isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: pyright
        name: Pyright
        description: Run pyright type checker
        entry: poetry run pyright
        language: system
        types: [python]
        pass_filenames: false # pyright runs for the entire project, it can't run for single files
